<div class="container">

  <form action="/posts" method="post">
    <input type="text" name="title" placeholder="Title of your post">
    <input type="text" name="post_url" placeholder="URL image for your post">
    <textarea class="form-custom-hint" name="content" cols="30" rows="50" placeholder="Type in your message here:"></textarea>
    <input class="btn btn-large waves-effect waves-light deep-orange lighten-3" type="submit" value="Create post">
  </form>

<div>