<div class="container-posts">
  <h1 class="main-h1">Posts</h1>
  <br>
  <div class="row">
    <% posts.each do |post| %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image main-h3">
            <img class="post-img" src="<%= post.post_url %>">
            <h3 class="main-h3" ><%= post.title %> </h3>
          </div>
          <div class="card-content">
            <p><%= post.content%></p>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
    <%end %>
  </div>

  
  </div>