  <br>
  <%= erb :new_post %>
    
  </div>
    <% 10.times do %>
    <br>
    <% end%>
  <div class="row">
      <div class="col m10 l10 s10">
      <button class="btn  waves-effect waves-light deep-orange lighten-3" type="submit" >
      <a href="/delete-account">delete my account :( </a> </button>
   </div>
