<div class="container">

  <% flash.keys.each do |type| %>
      <div class="flash <%= type %>">
        <%= flash[type] %>
      </div>
    <% end %>

  <%= erb :new_post %>
    <div class="row">
      <div class="col m10 offset-m1">
      <button class="btn btn-large btn-register waves-effect waves-effect2  waves-light deep-orange lighten-3" type="submit" >
      <a href="/delete-account">delete my account :( </a> </button>

      
    </div>
  </div>
</div>